In [85]:
import pandas as pd
import numpy as np
import statsmodels as sm
import matplotlib.pyplot as py

# Data Processing

In [77]:
# Setting up the base Series to join along
base = pd.date_range('1950-01-01', '2018-12-24')
print('The number of days:',len(base))
base.to_frame().reset_index()['index']

The number of days: 25195

0       1950-01-01
1       1950-01-02
2       1950-01-03
3       1950-01-04
4       1950-01-05
5       1950-01-06
6       1950-01-07
7       1950-01-08
8       1950-01-09
9       1950-01-10
10      1950-01-11
11      1950-01-12
12      1950-01-13
13      1950-01-14
14      1950-01-15
15      1950-01-16
16      1950-01-17
17      1950-01-18
18      1950-01-19
19      1950-01-20
20      1950-01-21
21      1950-01-22
22      1950-01-23
23      1950-01-24
24      1950-01-25
25      1950-01-26
26      1950-01-27
27      1950-01-28
28      1950-01-29
29      1950-01-30
           ...
25165   2018-11-25
25166   2018-11-26
25167   2018-11-27
25168   2018-11-28
25169   2018-11-29
25170   2018-11-30
25171   2018-12-01
25172   2018-12-02
25173   2018-12-03
25174   2018-12-04
25175   2018-12-05
25176   2018-12-06
25177   2018-12-07
25178   2018-12-08
25179   2018-12-09
25180   2018-12-10
25181   2018-12-11
25182   2018-12-12
25183   2018-12-13
25184   2018-12-14
25185   2018-12-15
25186   2018-12-16
25187   2018-12-17
25188   2018-12-18
25189   2018-12-19
25190   2018-12-20
25191   2018-12-21
25192   2018-12-22
25193   2018-12-23
25194   2018-12-24
Name: index, Length: 25195, dtype: datetime64[ns]

In [47]:
data = pd.read_csv('Data/sample.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)
rel = data[['Close']]
rel.head()

            Close
Date
2017-12-26   7.38
2017-12-27   7.46
2017-12-28   7.23
2018-01-01   7.23
2018-01-02   7.08

In [95]:
new_df = base.to_frame().merge(rel, left_index=True,right_index=True, how='outer')
new_df.head()

                    0  Close
1950-01-01 1950-01-01    NaN
1950-01-02 1950-01-02    NaN
1950-01-03 1950-01-03    NaN
1950-01-04 1950-01-04    NaN
1950-01-05 1950-01-05    NaN

In [98]:
plot()

DatetimeIndex(['1950-01-01', '1950-01-02', '1950-01-03', '1950-01-04',
               '1950-01-05', '1950-01-06', '1950-01-07', '1950-01-08',
               '1950-01-09', '1950-01-10',
               ...
               '2018-12-15', '2018-12-16', '2018-12-17', '2018-12-18',
               '2018-12-19', '2018-12-20', '2018-12-21', '2018-12-22',
               '2018-12-23', '2018-12-24'],
              dtype='datetime64[ns]', length=25195, freq=None)